@model IEnumerable<ItemViewModel>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
</head>
<h1>item Information</h1>
<hr />
@if (TempData["Info"] != null)
{
    <h3 class="alert alert-success" role="alert">@TempData["Info"]</h3>
}
<a href="/item/entry" class="btn btn-primary" role="button"><i class="bi bi-plus-circle-fill"></i>Add</a>
<table class="table" id="ItemTable">
    <thead>
        <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col">Purchase </th>
            <th scope="col">Sale Price</th>
            <th scope="col">Brand </th>
            <th scope="col">Category</th>
            <th scope="col">Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var c in Model)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@c.ItemCode</td>
                <td>@c.ItemDescription</td>
                <td>@c.PurchasePrice</td>
                <td>@c.SalePrice</td>
                <td>@c.BrandInfo</td>
                <td>@c.CategoryInfo</td>
                <td>@c.CreatedAt</td>
                <td>
                    <a href="/item/edit?Id=@c.Id" class="btn btn-warning" role="button"><i class="bi bi-pencil-square"></i>Edit</a>
                    <a href="/item/delete?Id=@c.Id" class="btn btn-danger" role="button" onclick="return confirm('are you sure to delete this record?');"><i class="bi bi-trash"></i>Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#ItemTable").DataTable();
    });
</script>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>
}