@model IEnumerable<StockBalanceViewModel>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
</head>
<h1>stock Balance Information</h1>
<hr />
<table class="table" id="StockbalanceTable">
    <thead>
        <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Item Infos </th>
            <th scope="col">Quantity</th>
            <th scope="col">Minimun Quantity</th>
            <th scope="col">Created At</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var c in Model)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@c.ItemInfo</td>
                <td>@c.Quantity</td>
                <td>@c.MininumQuantity</td>
                <td>@c.CreatedAt</td>
            </tr>
            i++;
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#StockbalanceTable").DataTable();
    });
</script>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap4.min.js"></script>
}