<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<form action="/saleorder/CheckCart" method="get">
    @if (ViewBag.Info != null)
    {
        <h1 class="alert alert-success" role="alert">@ViewBag.Info</h1>
    }
    <h2>Sale Order Process</h2>
    <hr />
    <fieldset>
        <legend style="text-align:center">Sale</legend>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Voucher No</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="VoucherNo" required value="@ViewBag.VoucherNo">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Saled date</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="SaledDate" required value="@ViewBag.SaledDate">
            </div>
        </div>
    </fieldset>
   
   <fieldset>
        <legend style="text-align:center">Sale Detail</legend>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Item</label>
            <div class="col-sm-10">
                <select class="form-control" name="ItemId" id="ddlItemId">
                    @foreach (var c in ViewBag.Items)
                    {
                        <option value="@c.Id">@c.ItemCode @c.ItemDescription</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Quantity</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="Qty" required id="txtQty">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Remark</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Remark" id="txtRemark">
            </div>
        </div>
   </fieldset> 
    
    <div class="row mb-3">
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary" id="btnAddToCart"><i class="bi bi-floppy"></i>Add to Cart</button>
            <button type="submit" class="btn btn-success"><i class="bi bi-floppy"></i>CheckOut Sale Order</button>
        </div>
    </div>
</form>
<script>
    $("#btnAddToCart").click(function (evt) {
        evt.preventDefault();
        var SaleDetail = {};//must be the same with Model Object
        SaleDetail.ItemId = $("#ddlItemId").val();//get the input value of txt Id
        SaleDetail.Qty = $("#txtQty").val();//get the input value of txt Quantity
        SaleDetail.Remark = $("#txtRemark").val();//get the input value of txtUnitPrice
        var url = "/saleOrder/AddToCart";
        $.ajax({
            type: "POST",
            url: url,
            data: SaleDetail,
            success: function (response) {
                alert("#adding an item to the cart!!");
            },
            failure: function (response) {
                console.log("error");
            }
        });
    });
</script>